<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="livox_horizon_macro" params="suffix parent x y z roll pitch yaw">
    <xacro:property name="sensor_box" value="0.1" />
    <xacro:property name="mass" value="0.01" />

    <joint name="${suffix}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child  link="${suffix}_link"/>
    </joint>

    <link name="${suffix}_link">
      <visual>
        <geometry>
          <box size="${sensor_box} ${sensor_box} ${sensor_box}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="red">
          <color rgba="1.0 0.0 0.0 2.0"/>
        </material>
      </visual>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}" ixy="0.0" ixz="0.0" 
                 iyy="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}" iyz="0.0" 
                 izz="${(sensor_box*sensor_box+sensor_box*sensor_box)*mass/12.0}"/>
      </inertial>
      <!-- <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="${sensor_box} ${sensor_box} ${sensor_box}"/>
        </geometry>
      </collision> -->
    </link>
  </xacro:macro>  
</robot>
